<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    #ef {
      color: red;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>poki's blog</title>
</head>
<body>
  <div id="ef">
    <h1><a href="#">Django girls</a></h1>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ducimus quis explicabo, voluptas neque nobis. Eos odit culpa minus aut, nulla non rem repellat, velit officia at voluptatum neque quibusdam facilis quo doloribus ducimus accusantium maiores beatae, ipsa voluptas asperiores fugiat. Odio rerum porro velit minus iusto, non quam quae!</p>
    <h2><a href="#">My first post</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium nisi necessitatibus a esse ad expedita laboriosam sequi beatae voluptatum et illo, modi, sapiente cum suscipit aliquam ipsa. Ab consequatur aspernatur, eum natus impedit deleniti? Minus veniam quisquam, libero asperiores vel sit animi expedita officia totam numquam. Optio voluptatem voluptas pariatur ut dolorem repellendus, laborum inventore ad repudiandae. Dolore aut, eos recusandae, cupiditate doloremque modi expedita eius, repudiandae quia soluta ipsam tempore consequatur similique deserunt nemo est dolorem pariatur magni ullam. Harum culpa fuga et hic dolorum autem deleniti nemo suscipit velit ullam quam, nobis fugit a. Ad impedit, molestiae debitis!</p>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum ducimus quis explicabo, voluptas neque nobis. Eos odit culpa minus aut, nulla non rem repellat, velit officia at voluptatum neque quibusdam facilis quo doloribus ducimus accusantium maiores beatae, ipsa voluptas asperiores fugiat. Odio rerum porro velit minus iusto, non quam quae!</p>
    <h2><a href="#">My second post</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium nisi necessitatibus a esse ad expedita laboriosam sequi beatae voluptatum et illo, modi, sapiente cum suscipit aliquam ipsa. Ab consequatur aspernatur, eum natus impedit deleniti? Minus veniam quisquam, libero asperiores vel sit animi expedita officia totam numquam. Optio voluptatem voluptas pariatur ut dolorem repellendus, laborum inventore ad repudiandae. Dolore aut, eos recusandae, cupiditate doloremque modi expedita eius, repudiandae quia soluta ipsam tempore consequatur similique deserunt nemo est dolorem pariatur magni ullam. Harum culpa fuga et hic dolorum autem deleniti nemo suscipit velit ullam quam, nobis fugit a. Ad impedit, molestiae debitis!</p>
  </div>
</body>
</html>
